<div class="container">
    <h1>Liste de course</h1>

    <input [(ngModel)]="mot" type="text" (keydown.enter)="ajouter()">
    <button (click)="ajouter()" [disabled]="!mot">Ajouter</button>

    <ul>
        @for (produit of listeCourse; track produit) {
            @if (produit.length>10) {
                <li [ngStyle]="{color: textColor, backgroundColor : bckColor}">{{produit}}</li>
            }@else if (produit === 'patate') {
                <li>{{produit}} ☺</li>
            }
            
            @else {

                <li>{{produit}}</li>
            }

        }

    </ul>
</div>