<nav>
    <h2><a routerLink="/">Accueil</a></h2>
    <h2>Les démos :</h2>
    
    <ul>
        <li><a routerLink="/demo1">Demo1 : Bindings</a></li>
        <li><a routerLink="/demo2">Demo2 : Pipes</a></li>
        <li><a routerLink="/demo3">Demo3 : Les directives</a></li>
        <li><a routerLink="/demo4">Demo4 : Input - Output </a></li>
        <li><a routerLink="/demo5">Demo5 : Service & Injections </a></li>

    </ul>


    <h2>Les exercices :</h2>

    <ul>
        <li><a routerLink="/exo1">Exo1</a></li>
        <li><a routerLink="/timer">Timer</a></li>
        <li><a routerLink="/exo3">Exo3</a></li>
        <li><a routerLink="/exo4">Exo4</a></li>
        <li><a routerLink="/exo5">Exo5</a></li>
    </ul>
</nav>
