    <div class="bottom-card">
        @for (shoppingItem of shoppingItems; track shoppingItem.id) {
            <div>
                <input type="checkbox" (change)="achat(shoppingItem)">
                <p>{{shoppingItem.name}}</p>
                <button (click)="diminuerQuantity(shoppingItem)">-</button>
                <p>{{shoppingItem.quantity}}</p>
                <button (click)="addQuantity(shoppingItem)">+</button>
                <button (click)="delete(shoppingItem.id)">🗑</button>
            </div>

        }
    </div>
